Package: truenas-proxmox
Source: truenas-proxmox
Section: admin
Priority: optional
Maintainer: Jonah May OSS <jonah@mayfamily.me>
Standards-Version: 4.6.2
Vcs-Git: https://github.com/Jonah-May-OSS/truenas-proxmox.git
Vcs-Browser: https://github.com/Jonah-May-OSS/truenas-proxmox.git
Homepage: https://github.com/Jonah-May-OSS/truenas-proxmox/wiki
Version: FIX_ME
Architecture: all
Build-Depends: debhelper-compat (= 13), dh-perl, libwww-perl
Provides: truenas-proxmox
Description: TrueNAS Plugin for Proxmox VE
 A Proxmox VE storage plugin to interface with TrueNAS APIs.
 Supports creating, managing, and attaching ZFS datasets and iSCSI targets
 from a remote TrueNAS server through Proxmox Storage Management.
